/WL4_Randomizer/WL4_Randomizer/bin
/WL4_Randomizer/WL4_Randomizer/obj
/WL4_Randomizer/**.sln
/WL4_Randomizer/.vs
WL4_Randomizer/.vs/WL4_Randomizer/v15/.suo
WL4_Randomizer/.vs/WL4_Randomizer/v15/.suo
*.csproj
WL4_Randomizer/.vs/WL4_Randomizer/v15/.suo
WL4_Randomizer/.vs/WL4_Randomizer/v15/.suo
WL4_Randomizer/WL4_Randomizer/rooms-old.txt
WL4_Randomizer/WL4_Randomizer.sln
WL4_Randomizer/WL4_Randomizer/WL4_Randomizer.csproj
WL4_Randomizer/WL4_Randomizer/WL4_Randomizer.csproj.user
WL4_Randomizer/WL4_Randomizer/WL4_Randomizer.csproj.user
*.cache
*.lock
*.ide
*.ide-shm
*.ide-wal
.vs/WL4_Randomizer/v15/.suo
